<section class="container">
    <div class="form">
        <h1 class="form_title">Sign Up Form</h1>

        <!-- Collect Username -->
        <div class="form_control">
            <label for="username" >Username: </label>
            <input type="text" id="username" placeholder="Type Username..." [(ngModel)] = "newuser.name" name="userName" #name = 'ngModel' (change)="displayLog(name)" required minlength="2" maxlength="30">
            <!-- Error Message -->
            <div class="validMsg" *ngIf="name.touched && !name.valid">
                <p *ngIf="name.errors?.['required']">Name is Required</p>
                <p *ngIf="name.errors?.['minlength']">Name must be at least 2 characters</p>
            </div>
        </div>

        <!-- Collect Email -->
        <div class="form_control">
            <label for="email" >Email: </label>
            <input type="text" name="email" id="email" placeholder="Type Email..." [(ngModel)]="newuser.email">
        </div>

        <!-- Submit Button -->
        <div class="form_control">
            <button type="submit" class="btnsubmit">Submit</button>
        </div>

        <!-- JSON Display -->
        <div class="json_display">
            <p>Result</p>
            <p>{{jsonUser}}</p>
        </div>
    </div>
    
</section>